<html>
<head>
    <title>angular-jsonrpc-client cancel request example</title>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
    <script src="../src/angular-jsonrpc-client.js"></script>
    <script>
        var url = 'http://localhost:5080/rpc';
        angular
            .module('TestApp', ['angular-jsonrpc-client'])
            .config(function(jsonrpcConfigProvider) {
                console.info(jsonrpcConfigProvider);
                jsonrpcConfigProvider.set({
                    url: url,
                    returnHttpPromise: false
                });
            })
            .controller('TestController', ['$scope', 'jsonrpc', '$q', '$http', function($scope, jsonrpc, $q, $http) {
                $scope.url = url;
                $scope.result = '';
                $scope.methodCall = 'slowRequest';

                $scope.canceller = null;
                $scope.cancel = function() {
                    if ($scope.canceller) {
                        $scope.message = 'Cancelling request.';
                        $scope.canceller.resolve('user cancelled');
                        $scope.canceller = null;
                    }
                };

                $scope.performCall = function() {
                    $scope.canceller = $q.defer();
                    $scope.result = '';
                    $scope.error = '';
                    $scope.message = 'Request sent. Waiting for answer.';

                    jsonrpc.request({
                        serverName: 'main',
                        methodName: $scope.methodCall,
                        methodArgs: {},
                        config: {
                            timeout: $scope.canceller.promise
                        }
                    })
                        .then(function(result) {
                            $scope.message = 'Answer received.';
                            $scope.result = result;
                        })
                        .catch(function(error) {
                            $scope.error = error;
                        });
                };
            }]);
    </script>
</head>
<body ng-app="TestApp">
    <div ng-controller="TestController">
        <p>Server: <code>{{ url }}</code></p>
        <p>Method name: <input type="text" ng-model="methodCall">
            <button ng-click="performCall()">Call now</button>
            <button ng-click="cancel()">Cancel now</button></p>
        <hr>
        <p>{{ message }}</p>
        <p ng-show="result">JSON-RPC result:</p>
        <pre>{{ result }}</pre>
        <p ng-show="error">JSON-RPC error:</p>
        <pre>{{ error }}</pre>
        <p ng-show="error.message === 'Connection refused at http://localhost:5080/rpc'" style="background-color: #ffb0b8;">It looks like the local JSON-RPC server is not running. If this is indeed the case, please start it.</p>
    </div>
</body>
</html>